<ul>
    <li>
        <a href="/shop/1">Shop</a>
    </li>
    <!--  Si pas authentifié : affiche un lien vers signup, sinon afficher un lien vers dashboard -->
    <% if (!locals.user) { %>

        <li>
            <a href="/register">Signup</a>
        </li>
        <li>
            <a href="/login">Sign in</a>
        </li>
    <% } else { %>
        <li>
            <% if (locals.user.roles.title === 'admin') { %>
                <a href="/dashboard/profil">Admin</a>
            <% } else { %>
                <a href="/dashboard/profil">Votre profile</a>
            <% }  %>
        </li>
        <li>
            <a href="/logout"> Logout </a>
        </li>
    <% }  %>


    <li>
        <a href="/cart">
            Panier
        </a>
    </li>
</ul>
